* {
  box-sizing: border-box;
}

.beast-div{
  border: 3px solid red;
}
.beast-grid{
  border: 3px solid green;
}

.beast-main-div{
border: 3px solid purple;
width:100%;
height: auto;
}
/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.navbar-main{
  border: 3px solid grey;
  background-color: grey;
  /* height: 55px; */
}
.navbar-main  > * {
  border: 3px solid pink;
  display: inline-block;
}
.footer-main{
  border: 3px solid grey;
  background-color: grey;
}
.footer-main > * {
  display: inline-block;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
