* {
  box-sizing: border-box;
}

.beast-div{
  border: 3px solid red;
}
.beast-grid{
  border: 3px solid green;
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.Navbar {
  background-color: #282c34;
  background-color: purple;
}
.navbar-main{
  border: 3px solid grey;
  height: 55px;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


  .Footer {
  background-color: #282c34;
  background-color: purple;
} 
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
